absl-py==0.9.0
bcolz==1.2.1
cycler==0.10.0
grpcio==1.26.0
joblib==0.14.1
kiwisolver==1.1.0
Markdown==3.1.1
numpy==1.16.4
pandas==0.25.3
postia==0.1.0
protobuf==3.11.2
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
tensorboard==1.14.0
torch==1.3.1
Werkzeug==0.16.0
